<div class="navbar menu">
  <div class="container">
    <div class="nav navbar-nav navbar-left">
      <span class="navbar-brand">Finalizar Pedido</span>
    </div>

    <div class="nav navbar-nav navbar-right">
      <!-- <div class="navbar-brand"> Valor: 123,343 </div> -->
    </div>
  </div>
</div>

<div class="container page">
  <div class="row text-center into">
    <h1>Finalize seu pedido!</h1>
    <hr>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4 box height-box correct-1">
      <div class="title">
          Dados Importantes
      </div>

      <div class="content">
        <div class="col-xs-12 col-md-12 item">
          <form class="">
            <div class="form-group">
              <input type="text" placeholder="Nome" class="form-control" name="nome">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Telefone" class="form-control" name="telefone">
            </div>
          </form>
          <div class="next-step">
            Proximo passo >>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 box height-box correct-2">
      <div class="title">
          Forma de Entrega
      </div>

      <div class="content">
        <div class="col-xs-12 col-md-12 item">
          <div class="box-in-content">
            Desejo receber em minha localização
          </div>
        </div>
        <div class="col-xs-12 col-md-12 item">
          <div class="box-in-content">
            Desejo retirar em um estabelecimento mais próximo
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 box height-box">
      <div class="title">
          Pagamento
      </div>

      <div class="content">
        <div class="col-xs-12 col-md-12 item">
          <div class="box-in-content" style="background-color: #003085">
            PayPal
          </div>
        </div>
        <div class="col-xs-12 col-md-12 item">
          <div class="box-in-content" style="background-color: #F36F21">
            Pagar.me
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
