<div class="navbar menu">
  <div class="container">
    <div class="nav navbar-nav navbar-left">
      <span class="navbar-brand">Escolher Frutas</span>
    </div>

    <div class="nav navbar-nav navbar-right">
      <!-- <div class="navbar-brand"> Valor: 123,343 </div> -->
    </div>
  </div>
</div>

<div class="container page">
  <div class="row text-center into">
    <h1>Escolha como você quer sua salada!</h1>
    <hr>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3 box">
      <div class="title">
        Tamanhos
      </div>
      <div class="content">
        <div class="col-xs-12 col-md-12 item">
          <div class="radio">
            <label><input type="radio" name="tamanho">150 ml</label>
          </div>
        </div>
        <div class="col-xs-12 col-md-12 item">
          <div class="radio">
            <label><input type="radio" name="tamanho">180 ml</label>
          </div>
        </div>
        <div class="col-xs-12 col-md-12 item">
          <div class="radio">
            <label><input type="radio" name="tamanho">200 ml</label>
          </div>
        </div>
      </div> <!-- end content -->
    </div>

    <div class="col-xs-12 col-md-8 col-md-offset-1 box">
      <div class="title">
        Frutas
      </div>

      <div class="content">
        <div class="col-xs-12 col-md-6">
          <div class="col-md-12 item">
            <div class="radio">
              <label class="checkbox item"><input type="checkbox" value="maca">Maça</label>
            </div>
          </div>
          <div class="col-md-12 item">
            <div class="radio">
              <label class="checkbox item"><input type="checkbox" value="banana">Banana</label>
            </div>
          </div>

          <div class="col-md-12 item">
            <div class="radio">
              <label class="checkbox item"><input type="checkbox" value="laranja">Laranja</label>
            </div>
          </div>

          <div class="col-md-12 item">
            <div class="radio">
              <label class="checkbox item"><input type="checkbox" value="abacaxi">Abacaxi</label>
            </div>
          </div>



        </div>
        <div class="col-xs-12 col-md-6">
          <div class="col-md-12 item">
            <div class="radio">
              <label class="checkbox"><input type="checkbox" value="uva">Uva</label>
            </div>
          </div>

          <div class="col-md-12 item">
            <div class="radio">
              <label class="checkbox"><input type="checkbox" value="mamao">Mamão</label>
            </div>
          </div>

          <div class="col-md-12 item">
            <div class="radio">
              <label class="checkbox"><input type="checkbox" value="morango">Morango</label>
            </div>
          </div>

          <div class="col-md-12 item">
            <div class="radio">
              <label class="checkbox"><input type="checkbox" value="melao">Melão</label>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div> <!-- row -->

  <div class="row">
    <button type="button" data-ng-click="Select.finalizar()" class="col-md-12 col-xs-12 btn btn-default custom-button" name="button">FINALIZAR</button>
  </div>
</div> <!--.page -->
